<h1>Welcome to my app</h1>

<p>Subscribe to the Newsletter</p>

<%= form_tag(home_subscribe_path) do %>
  <div class="form-group">
    <%= text_field_tag :first_name, '', placeholder: 'First Name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= text_field_tag :last_name, '', placeholder: 'Last Name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= email_field_tag :email, '', placeholder: 'Email', class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= submit_tag "Subscribe", class: 'btn btn-primary' %>
  </div>
<% end %>
